@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
  footer{
    padding: 1rem;
    margin-top:5rem ;
    background: #1b1e1f;
    position: relative;
    font-family: Special Elite;
    color:white
    
  }
  .footCont{
    align-items: center;
    
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #736f6f;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:#736f6f;
    background-color: black;
    font-family: Special Elite;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color:white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */

  /* Create two columns that float next to eachother */

  .column {
    
    float: left;
    width: 30%;
    
    padding: 20px;
    margin: 0 35%;
    margin-top: 2rem;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }